// Externals

// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";

// Basics
@import "basics/typography";
@import "basics/base";
@import "basics/helpers";
@import "basics/layout";
@import "basics/modals";
@import "basics/animations";

// Pages

// Components

@import "./cmps/RickAndMortyCharacter";
@import "./cmps/RickAndMortyEpisodes.scss";


.main-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .app-header {
    background-color: #5b52db;
  }

  main {
    flex-grow: 1;
    background-image: url("../imges/rick-and-morty.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  > footer {
    background-color: #111;
    color: white;
  }
}
